# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
bun.lock
# fastintear-llm-context.md
package-lock.json

# md book
book
/build

# Local Netlify folder
.netlify
/target
