.section_huggies a {
    min-width: 200px;
}

.section_huggies h1 {
    margin: 0px;
}

.section_huggies p {
    font-size: 20px;
}

.section_huggies .fotter {
    position: absolute;
    bottom: 0px;
    /* margin-top: 80px; */
}